* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', 'arial';
}

@-webkit-keyframes background {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes background {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes photo1 {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
  33% {
    -webkit-transform: translate(-50%, -50%) scale(1) rotate(720deg);
            transform: translate(-50%, -50%) scale(1) rotate(720deg);
  }
  65% {
    -webkit-transform: translate(-50%, -50%) scale(1) rotate(720deg);
            transform: translate(-50%, -50%) scale(1) rotate(720deg);
  }
  100% {
    -webkit-transform: translate(150%, -50%) scale(1) rotate(720deg);
            transform: translate(150%, -50%) scale(1) rotate(720deg);
  }
}

@keyframes photo1 {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
  33% {
    -webkit-transform: translate(-50%, -50%) scale(1) rotate(720deg);
            transform: translate(-50%, -50%) scale(1) rotate(720deg);
  }
  65% {
    -webkit-transform: translate(-50%, -50%) scale(1) rotate(720deg);
            transform: translate(-50%, -50%) scale(1) rotate(720deg);
  }
  100% {
    -webkit-transform: translate(150%, -50%) scale(1) rotate(720deg);
            transform: translate(150%, -50%) scale(1) rotate(720deg);
  }
}

@-webkit-keyframes photo2 {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  65.98% {
    -webkit-transform: translate(-50%, -50%) scale(0) rotate(720deg);
            transform: translate(-50%, -50%) scale(0) rotate(720deg);
  }
  65.99% {
    -webkit-transform: translate(-250%, -50%) scale(0) rotate(0deg);
            transform: translate(-250%, -50%) scale(0) rotate(0deg);
  }
  66% {
    -webkit-transform: translate(-250%, -50%) scale(1);
            transform: translate(-250%, -50%) scale(1);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes photo2 {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  65.98% {
    -webkit-transform: translate(-50%, -50%) scale(0) rotate(720deg);
            transform: translate(-50%, -50%) scale(0) rotate(720deg);
  }
  65.99% {
    -webkit-transform: translate(-250%, -50%) scale(0) rotate(0deg);
            transform: translate(-250%, -50%) scale(0) rotate(0deg);
  }
  66% {
    -webkit-transform: translate(-250%, -50%) scale(1);
            transform: translate(-250%, -50%) scale(1);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

body .wrap {
  height: 500vh;
  max-width: 1600px;
  margin: 0px auto;
}

body .wrap header {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

body .wrap header .bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url(../img/mountains.jpg);
  background-position: center;
  background-size: cover;
  opacity: 0.4;
  -webkit-animation: background 10s linear infinite;
          animation: background 10s linear infinite;
}

body .wrap header .burger {
  position: fixed;
  top: 5%;
  right: 5%;
  text-align: center;
  height: 50px;
  width: 50px;
  z-index: 2;
}

body .wrap header .burger i {
  display: block;
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  font-size: 2rem;
  line-height: 50px;
}

body .wrap header .menu {
  background-color: black;
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  -webkit-transition: .7s;
  transition: .7s;
  z-index: 1;
}

body .wrap header .menu.active {
  left: 0;
}

body .wrap header .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  color: white;
  height: 100%;
  text-align: center;
}

body .wrap header .menu ul li {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  padding: 10px;
  border-bottom: 2px solid white;
}

body .wrap header .menu ul li a {
  text-decoration: none;
  color: #FFF8DC;
  display: block;
  height: 100%;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 3rem;
}

body .wrap header .slogan {
  position: absolute;
  top: 50%;
  left: 4%;
}

body .wrap header .slogan h2 {
  font-size: 3rem;
}

body .wrap header .slogan div {
  text-align: left;
  font-size: 1.5em;
  color: red;
  margin-left: 50%;
}

body .wrap header .slogan div .cursor {
  opacity: 0;
  -webkit-transition: .2s;
  transition: .2s;
}

body .wrap header .slogan div .cursor.active {
  opacity: 1;
}

.about {
  height: 100vh;
}

.about h2 {
  text-transform: uppercase;
  font-size: 3rem;
  width: 100%;
  text-align: center;
  height: 10vh;
  background-color: #0000FF;
}

.about div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  height: 90vh;
}

.about div div {
  position: relative;
  overflow: hidden;
  padding: 20px;
  height: 50%;
}

.about div .info, .about div .info2 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: justify;
}

.about div .foto, .about div .foto2 {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  margin: 0 5px;
}

.about div .foto img, .about div .foto2 img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  max-width: 100%;
  max-height: 100%;
}

.about div .foto img {
  -webkit-animation: photo1 10s linear infinite;
          animation: photo1 10s linear infinite;
}

.about div .foto2 img {
  -webkit-animation: photo2 10s linear infinite;
          animation: photo2 10s linear infinite;
}
/*# sourceMappingURL=style.css.map */