*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Roboto', 'arial'

@keyframes background
    0%
        transform: scale(1)
    50%
        transform: scale(1.08)
    100%
        transform: scale(1)

@keyframes photo1
    0%
        transform: translate(-50%,-50%) scale(0)
    33%
        transform: translate(-50%,-50%) scale(1) rotate(720deg)
    65%
        transform: translate(-50%,-50%) scale(1) rotate(720deg)
    100%
        transform: translate(150%,-50%) scale(1) rotate(720deg)

@keyframes photo2
    0%
        transform: translate(-50%,-50%) scale(1)
    50%
        transform: translate(-50%,-50%) scale(1)
    65.98%
        transform: translate(-50%,-50%) scale(0) rotate(720deg)
    65.99%
        transform: translate(-250%,-50%) scale(0) rotate(0deg)
    66%
        transform: translate(-250%,-50%) scale(1)
    100%
        transform: translate(-50%,-50%) scale(1)
